.wiki-search-header{
  text-align: center;
  margin-top: 20px;
}
.wiki-logo{
  height: 150px;
  margin-bottom: 10px;
}
.search-input{
  height: 50px;
  width: 70%;
  font-size: 20px;
}
.loading{
  margin-top: 20px;
  text-align: center;
  position: relative;
  left: 50%;
}
.search-results{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 20px;
}
